In [1]:
import pandas as pd

In [7]:
bike_items= pd.read_csv('bike_items.csv')
bike_items ['sport']= 'cycling'

In [11]:
basketball_items= pd.read_csv('basketball_items.csv')
basketball_items ['sport']= 'basketball'

In [14]:
football_items= pd.read_csv('football_items.csv')
football_items ['sport']= 'football'

In [15]:
padel_items =pd.read_csv('padel_items.csv')
padel_items ['sport']= 'padel'

In [16]:
running_items =pd.read_csv('running_items.csv')
running_items ['sport']= 'running'

In [17]:
surf_items =pd.read_csv('surf_items.csv')
surf_items ['sport']= 'surf'

In [18]:
swim_items =pd.read_csv('swim_items.csv')
swim_items ['sport']= 'swim'

In [19]:
tennis_items =pd.read_csv('tennis_items.csv')
tennis_items ['sport']= 'tennis'

In [20]:
training_items =pd.read_csv('training_items.csv')
training_items ['sport']= 'training'

In [22]:
treking_items =pd.read_csv('treking_items.csv')
treking_items ['sport']= 'treking'

In [26]:
sports_items = pd.concat([bike_items, basketball_items,football_items,padel_items,running_items,surf_items,swim_items,tennis_items,training_items, treking_items], ignore_index=True, sort=False)

In [28]:
sports_items.to_csv('sports_items.csv', index=False)

In [57]:
sports_items =pd.read_csv('sports_items.csv')

In [58]:
sports_items ['group'] = 'sport'
sports_items

,image,description,category,collection,sugested_price(€),sport,group
0,https://www.tradeinn.com/h/13911/139114161/toi...,toimsa bikes spiderman huffy 14´´ bike,bike,kid,126.99,cycling,sport
1,https://www.tradeinn.com/h/13911/139114057/toi...,toimsa bikes blue ice 16´´ bike,bike,kid,109.99,cycling,sport
2,https://www.tradeinn.com/h/13911/139114134/toi...,toimsa bikes rider bike 14´´ fantasy,bike,kid,108.99,cycling,sport
3,https://www.tradeinn.com/h/13978/139784630/toi...,toimsa bikes paw patrol 16´´ bike,bike,kid,136.99,cycling,sport
4,https://www.tradeinn.com/h/13911/139114162/toi...,toimsa bikes spiderman huffy 16´´ bike,bike,kid,148.99,cycling,sport
...,...,...,...,...,...,...,...
36120,https://www.tradeinn.com/h/13896/138961563/adi...,adidas terrex soulstride trail running shoes,shoes,woman,60.99,treking,sport
36121,https://www.tradeinn.com/h/13842/138429414/adi...,adidas terrex two flow trail running shoes,shoes,woman,58.49,treking,sport
36122,https://www.tradeinn.com/h/13791/137918722/sal...,salomon reelax moc 5.0 sandals,shoes,woman,47.99,treking,sport
36123,https://www.tradeinn.com/h/13944/139448852/sal...,salomon x-ward leather goretex hiking shoes,shoes,woman,103.99,treking,sport
36124,https://www.tradeinn.com/h/13944/139448748/sal...,salomon supercross 4 goretex trail running shoes,shoes,woman,106.49,treking,sport

In [59]:
new_order = ['group', 'sport', 'category', 'collection', 'description', 'image', 'sugested_price(€)']
sports_items = sports_items[new_order]
sports_items.rename(columns={'sport': 'section', 'description': 'description/title','sugested_price(€)': 'suggested_price(€)'}, inplace=True)

sports_items

,group,section,category,collection,description/title,image,suggested_price(€)
0,sport,cycling,bike,kid,toimsa bikes spiderman huffy 14´´ bike,https://www.tradeinn.com/h/13911/139114161/toi...,126.99
1,sport,cycling,bike,kid,toimsa bikes blue ice 16´´ bike,https://www.tradeinn.com/h/13911/139114057/toi...,109.99
2,sport,cycling,bike,kid,toimsa bikes rider bike 14´´ fantasy,https://www.tradeinn.com/h/13911/139114134/toi...,108.99
3,sport,cycling,bike,kid,toimsa bikes paw patrol 16´´ bike,https://www.tradeinn.com/h/13978/139784630/toi...,136.99
4,sport,cycling,bike,kid,toimsa bikes spiderman huffy 16´´ bike,https://www.tradeinn.com/h/13911/139114162/toi...,148.99
...,...,...,...,...,...,...,...
36120,sport,treking,shoes,woman,adidas terrex soulstride trail running shoes,https://www.tradeinn.com/h/13896/138961563/adi...,60.99
36121,sport,treking,shoes,woman,adidas terrex two flow trail running shoes,https://www.tradeinn.com/h/13842/138429414/adi...,58.49
36122,sport,treking,shoes,woman,salomon reelax moc 5.0 sandals,https://www.tradeinn.com/h/13791/137918722/sal...,47.99
36123,sport,treking,shoes,woman,salomon x-ward leather goretex hiking shoes,https://www.tradeinn.com/h/13944/139448852/sal...,103.99
36124,sport,treking,shoes,woman,salomon supercross 4 goretex trail running shoes,https://www.tradeinn.com/h/13944/139448748/sal...,106.49

# books

In [52]:
books =pd.read_csv('book_items.csv')

In [53]:
books['group'] = 'books'
new_order = ['group','category', 'author' ,'Title', 'Image', 'Price']
books = books[new_order]
books.rename(columns={'Title': 'description/title', 'Image': 'image', 'Price' : 'suggested_price(€)'}, inplace=True)

In [55]:
books['suggested_price(€)'] = pd.to_numeric(books['suggested_price(€)'], errors='coerce')

books = books.dropna()

books = books.applymap(lambda x: x.lower() if isinstance(x, str) else x)

books= books.reset_index(drop=True)

In [56]:
books

,group,category,author,description/title,image,suggested_price(€)
0,books,art and design,"david hockney, natio...",david hockney - normandy portra...,https://blackwells.co.uk//jacket/200x200/97818...,22.15
1,books,art and design,acc art books ltd (c...,the rolling stones,https://blackwells.co.uk//jacket/200x200/97817...,63.87
2,books,art and design,kate annett-hitchcock,the intersection of fashion and...,https://blackwells.co.uk//jacket/200x200/97813...,26.85
3,books,art and design,felix scheinberger,urban watercolor sketching,https://blackwells.co.uk//jacket/200x200/97807...,21.03
4,books,art and design,philip thompson (aut...,experiencing accents,https://blackwells.co.uk//jacket/200x200/97810...,38.37
...,...,...,...,...,...,...
533,books,travel,lawrence osborne,bangkok days,https://blackwells.co.uk//jacket/200x200/97800...,15.15
534,books,travel,laura sook duncombe,pirate women,https://blackwells.co.uk//jacket/200x200/97816...,20.26
535,books,travel,"rob hume, rob still,...",britain's birds,https://blackwells.co.uk//jacket/200x200/97806...,25.36
536,books,travel,jack thurston,lost lanes central england,https://blackwells.co.uk//jacket/200x200/97819...,19.92
537,books,travel,karl ove knausgård (...,summer,https://blackwells.co.uk//jacket/200x200/97817...,15.43

In [142]:
games_nintendo =pd.read_csv('nintendo_games.csv')
games_nintendo['group'] = 'games'
games_nintendo ['category'] = 'nintendo'

In [143]:
new_order = ['group', 'category', 'system', 'title','age_group', 'image_src' ,'suggested_price(€)']
games_nintendo = games_nintendo[new_order]

In [144]:
games_nintendo.rename(columns={'system': 'collection', 'title':'description/title','image_src': 'image'}, inplace=True)

In [145]:
games_nintendo['suggested_price(€)'] = pd.to_numeric(books['suggested_price(€)'], errors='coerce')

games_nintendo = games_nintendo.dropna()

games_nintendo = games_nintendo.applymap(lambda x: x.lower() if isinstance(x, str) else x)

games_nintendo= games_nintendo.reset_index(drop=True)

In [146]:
games_nintendo

,group,category,collection,description/title,age_group,image,suggested_price(€)
0,games,nintendo,nintendo switch,ea sports fc™ 24,under 6 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,22.15
1,games,nintendo,nintendo switch,just dance®,under 6 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,63.87
2,games,nintendo,nintendo switch,disney dreamlight valley,under 6 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,26.85
3,games,nintendo,nintendo switch,super mario bros. wonder,under 6 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,21.03
4,games,nintendo,nintendo switch,mario kart 8 deluxe,under 6 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,38.37
...,...,...,...,...,...,...,...
533,games,nintendo,nintendo switch,crash drive 2,under 11 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,15.15
534,games,nintendo,nintendo switch,tower of babel,under 11 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,20.26
535,games,nintendo,nintendo switch,marooners,under 11 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,25.36
536,games,nintendo,nintendo switch,brain show,under 11 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,19.92
537,games,nintendo,nintendo switch,strike! ten pin bowling,under 11 year old,https://fs-prod-cdn.nintendo-europe.com/media/...,15.43

In [104]:
games_lego =pd.read_csv('lego_items.csv')
games_lego['group'] = 'games'
games_lego['category'] = 'lego'
games_lego = games_lego.drop('age', axis=1)

In [105]:
new_order = ['group', 'category', 'title','age_group', 'image_src' ,'suggested_price(€)']
games_lego = games_lego[new_order]

In [111]:
games_lego.rename(columns={'title':'description/title','image_src': 'image'}, inplace=True)

In [112]:
games_lego['suggested_price(€)'] = pd.to_numeric(books['suggested_price(€)'], errors='coerce')

games_lego = games_lego.dropna()

games_lego = games_lego.applymap(lambda x: x.lower() if isinstance(x, str) else x)

games_lego= games_lego.reset_index(drop=True)

In [113]:
games_lego

,group,category,description/title,age_group,image,suggested_price(€)
0,games,lego,3in1 family house,1.5-3 year old,https://www.lego.com/cdn/cs/set/assets/bltcf41...,22.15
1,games,lego,mickey & minnie birthday train,1.5-3 year old,https://www.lego.com/cdn/cs/set/assets/blta199...,63.87
2,games,lego,construction site,1.5-3 year old,https://www.lego.com/cdn/cs/set/assets/bltaae5...,26.85
3,games,lego,lego® duplo® green building plate,1.5-3 year old,https://www.lego.com/cdn/cs/set/assets/bltfc1a...,21.03
4,games,lego,lightning mcqueen & mater's car wash fun,1.5-3 year old,https://www.lego.com/cdn/cs/set/assets/bltcf2b...,38.37
...,...,...,...,...,...,...
533,games,lego,heartlake city shopping mall,6-8 year old,https://www.lego.com/cdn/cs/set/assets/blt80d7...,15.15
534,games,lego,darth vader™ keyring,6-8 year old,https://www.lego.com/cdn/cs/set/assets/blt0836...,20.26
535,games,lego,temple of the dragon energy cores,6-8 year old,https://www.lego.com/cdn/cs/set/assets/blte0d3...,25.36
536,games,lego,cactus boy keyring,6-8 year old,https://www.lego.com/cdn/cs/set/assets/blt15c4...,19.92
537,games,lego,identity and landscape kit,6-8 year old,https://www.lego.com/cdn/cs/set/assets/blteb1a...,15.43

In [152]:
games_ps4= pd.read_csv ('playstation4_games.csv')

In [153]:
games_ps4['group'] = 'games'
games_ps4['category'] = 'sony'
games_ps4['collection'] = 'ps4'
games_ps4 = games_ps4.drop('rank_in_sale', axis=1)

In [154]:
new_order = ['group', 'category','collection', 'title','suggested_price(€)']
games_ps4 = games_ps4[new_order]

In [155]:
games_ps4.rename(columns={'title':'description/title'}, inplace=True)

In [156]:
games_ps4['suggested_price(€)'] = pd.to_numeric(books['suggested_price(€)'], errors='coerce')

games_ps4 = games_ps4.dropna()

games_ps4 = games_ps4.applymap(lambda x: x.lower() if isinstance(x, str) else x)

games_ps4= games_ps4.reset_index(drop=True)

In [157]:
games_ps4

,group,category,collection,description/title,suggested_price(€)
0,games,sony,ps4,lego® star wars™:the skywalker saga deluxe edi...,22.15
1,games,sony,ps4,wwe 2k22 for ps4™,63.87
2,games,sony,ps4,wwe 2k22 for ps5™,26.85
3,games,sony,ps4,call of duty®: vanguard - cross-gen bundle,21.03
4,games,sony,ps4,god of war™,38.37
...,...,...,...,...,...
533,games,sony,ps4,dragon ball fighterz - broly (dbs),15.15
534,games,sony,ps4,atelier sophie 2: the alchemist of the mysteri...,20.26
535,games,sony,ps4,dead by daylight: leatherface™ ps4™ & ps5™,25.36
536,games,sony,ps4,train sim world® 2: rush hour - nahverkehr dre...,19.92
537,games,sony,ps4,dead by daylight: cursed legacy chapter ps4™ &...,15.43

In [158]:
giftee_database = pd.concat([sports_items, books,games_lego,games_nintendo,games_ps4], ignore_index=True, sort=False)

In [159]:
new_order = ['group','section', 'category','collection','author', 'description/title','age_group','image','suggested_price(€)']
giftee_database = giftee_database[new_order]

In [160]:
giftee_database

,group,section,category,collection,author,description/title,age_group,image,suggested_price(€)
0,sport,cycling,bike,kid,NaN,toimsa bikes spiderman huffy 14´´ bike,NaN,https://www.tradeinn.com/h/13911/139114161/toi...,126.99
1,sport,cycling,bike,kid,NaN,toimsa bikes blue ice 16´´ bike,NaN,https://www.tradeinn.com/h/13911/139114057/toi...,109.99
2,sport,cycling,bike,kid,NaN,toimsa bikes rider bike 14´´ fantasy,NaN,https://www.tradeinn.com/h/13911/139114134/toi...,108.99
3,sport,cycling,bike,kid,NaN,toimsa bikes paw patrol 16´´ bike,NaN,https://www.tradeinn.com/h/13978/139784630/toi...,136.99
4,sport,cycling,bike,kid,NaN,toimsa bikes spiderman huffy 16´´ bike,NaN,https://www.tradeinn.com/h/13911/139114162/toi...,148.99
...,...,...,...,...,...,...,...,...,...
38272,games,NaN,sony,ps4,NaN,dragon ball fighterz - broly (dbs),NaN,NaN,15.15
38273,games,NaN,sony,ps4,NaN,atelier sophie 2: the alchemist of the mysteri...,NaN,NaN,20.26
38274,games,NaN,sony,ps4,NaN,dead by daylight: leatherface™ ps4™ & ps5™,NaN,NaN,25.36
38275,games,NaN,sony,ps4,NaN,train sim world® 2: rush hour - nahverkehr dre...,NaN,NaN,19.92
38276,games,NaN,sony,ps4,NaN,dead by daylight: cursed legacy chapter ps4™ &...,NaN,NaN,15.43

In [165]:
giftee_database['collection'] = giftee_database['collection'].replace('watches', 'watch')

In [166]:
giftee_database.to_csv('giftee_database.csv', index=False)

In [167]:
giftee_database.collection.value_counts()

man                 10988
woman               10673
adult                3754
fitness              2618
kid                  2085
accessories          2007
watch                1246
racket               1243
ps4                   538
nintendo switch       535
surfboard             529
tennis                474
balls                 290
gps                   147
bodyboard              58
skimboard              13
nintendo 3ds            2
new nintendo 3ds        1
Name: collection, dtype: int64